# Dependencies
node_modules/
target/

# Build / package output
dist/
out/
build/
!build/
build/*
!build/signed/
!build/signed/*.plist
release/
*.exe

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
